html {
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: -moz-linear-gradient(89deg, rgba(73, 18, 255, 1) 0%, rgba(179, 64, 255, 1) 100%);
  /* ff3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(179, 64, 255, 1)), color-stop(100%, rgba(73, 18, 255, 1)));
  /* safari4+,chrome */
  background: -webkit-linear-gradient(89deg, rgba(73, 18, 255, 1) 0%, rgba(179, 64, 255, 1) 100%);
  /* safari5.1+,chrome10+ */
  background: -o-linear-gradient(89deg, rgba(73, 18, 255, 1) 0%, rgba(179, 64, 255, 1) 100%);
  /* opera 11.10+ */
  background: -ms-linear-gradient(89deg, rgba(73, 18, 255, 1) 0%, rgba(179, 64, 255, 1) 100%);
  /* ie10+ */
  background: linear-gradient(1deg, rgba(73, 18, 255, 1) 0%, rgba(179, 64, 255, 1) 100%);
  /* w3c */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#B340FF', endColorstr='#4912FF', GradientType=0);
  /* ie6-9 */
  min-height: 100%;
  padding-bottom: 5rem;
}

h1,
h2 {
  color: white;
  padding: 3rem 0;
  text-align: center;

  text-transform: uppercase;

  font-family: 'Staatliches', cursive;
  letter-spacing: 1px;
}

.lista-citas .media {
  border-bottom: 1px solid #e1e1e1;
  padding-bottom: 3rem;
}

.lista-citas .media:last-of-type {
  border-bottom: 0;
}

.lista-citas .media-body p {
  margin: 0;
}

.lista-citas .media-body button {
  margin-top: 1rem !important;
}

.lista-citas .media-body span {
  font-weight: bold;
}

label {
  color: white;
}

input[type="date"],
input[type="time"] {
  height: 38px;
  padding: 6px 10px;
  background-color: #fff;
  border: 1px solid #D1D1D1;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box;
}

.cita {
  padding: 2rem;
  background: white;
  border-bottom: 1px solid #e1e1e1;
  color: black;
}

.cita p {
  font-weight: bold;
  margin-bottom: .8rem;
}

.cita p span {
  font-weight: normal;

}

.cita:first-of-type {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.cita:last-of-type {
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.button.eliminar,
.button.eliminar:hover {
  background-color: #c10059;
  color: white;
  margin-top: 2rem;
}

.alerta-error {
  background-color: #ee3535;
  color: #ffffff;
  padding: 1rem;
  font-size: 2rem;
  text-transform: uppercase;
  text-align: center;
  font-family: 'Staatliches', cursive;
}